{% extends 'default/base.html.twig' %}

{% block body %}

    <div class="col-md-3" style="border: 1px solid; margin-left: 37%; margin-right: 37%; margin-top: 5%">
        <div>
            <label class="col-md-12" style="text-align: center">Pradinis tuščias puslapis</label>
        </div>
    </div>

{% endblock %}