{% extends ":default:base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="col-md-3" style="border: 1px solid; margin-left: 37%; margin-right: 37%; margin-top: 5%">
        <div style="text-align: center">
            <p>
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
            </p>
        </div>


    </div>

{% endblock %}
