<h3>Sveiki, {{ namesurname }}</h3>

Jūsų senas Slaptažodis: {{ password }}
<br>

Norėdami jį pasikeisti, eikite į: <a href="http://localhost:8000/atnaujinti_slaptazodi/{{ id }}">Atnaujinti slaptažodį</a>.

